* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  background-color: #3e3c3c;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.menu .myname {
  font-weight: bolder;
  font-size: 15px;
}

.navlinks li {
  display: inline-block;
  padding: 5px 8px;
  font-weight: bold;
  font-size: 12px;
  justify-content: center;
}

.headline {
  display: flex;
  background: #1c1a19 url(img/illustration.png) 100% 100% no-repeat;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  padding: 15px 15px;
  color: white;
}

.salute {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  height: 600px;
}

h1 {
  color: #f55800;
  line-height: 65px;
  font-size: 55px;
}

.title {
  font-size: 23px;
  font-weight: bold;
  font-family: sans-serif;
  line-height: 40px;
}

.description {
  font-size: 18px;
  line-height: 20px;
  font-family: sans-serif;
}

.social {
  display: flex;
}

.social ul {
  display: flex;
  justify-content: center;
}

.w1-lan li {
  padding: 5px;
  font-family: sans-serif;
  border: 1px solid #8993a4;
  border-radius: 2px;
  margin-bottom: 10px;
}

.project-lan li {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-family: sans-serif;
  padding: 10px 10px;
  margin-bottom: 20px;
}

.social ul li {
  padding: 15px 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.works {
  display: grid;
  align-content: center;
  height: 2000px;
}

.w1 {
  display: flex;
  flex-direction: column;
  padding: 0 23px;
}

.works-title {
  font-size: 38px;
  font-family: sans-serif;
  font-weight: 700;
  color: #1c1a19;
  margin-bottom: 30px;
}

.line-works {
  border-bottom: 1px solid #212121;
  width: 100%;
  align-self: center;
}

.w1-img {
  padding-top: 70px;
}

.w1-title {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.w1-text {
  font-size: 15px;
  font-family: sans-serif;
  line-height: 20px;
  margin-bottom: 10px;
}

.w1-lan {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: start;
  align-content: center;
  grid-gap: 10px;
}

.w1-see {
  width: fit-content;
  padding: 8px 8px;
  background-color: #ff6b00;
  color: white;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 10px;
}

.w2 {
  display: flex;
  flex-direction: column;
  padding: 0 23px;
}

.w2-project {
  background-image: url(img/workbackground.png);
  background-repeat: no-repeat;
  background-size: 400px 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.project-title {
  color: white;
  font-size: 45px;
  line-height: 40px;
  padding: 0 20px;
}

.project-text {
  color: white;
  font-size: 20px;
  font-weight: lighter;
  line-height: 25px;
  padding: 10px 20px;
}

.project-lan {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: start;
  align-content: center;
  grid-gap: 10px;
  list-style: none;
  padding: 0 20px;
}

.project-see {
  padding: 12px;
  background-color: #ff6b00;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
}

.about-me {
  background-color: #1c1a19;
}

.about {
  display: flex;
  background: #1c1a19 url(img/about-img.png) 100% 100% no-repeat;
  flex-direction: column;
  justify-content: center;
  padding: 0 23px;
  height: 550px;
}

.about-title {
  color: #ff6b00;
  font-size: 80px;
  padding-bottom: 10px;
}

.about-text {
  color: white;
  font-size: 18px;
  font-weight: lighter;
  line-height: 25px;
  padding: 10px 0;
}

.line-about {
  border-bottom: 1px solid #fff;
  width: 100%;
  align-self: center;
}

.programming {
  display: flex;
  flex-direction: column;
  padding: 0 23px;
  height: 800px;
  justify-content: center;
}

.lan-group {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
}

.lan-title {
  display: flex;
  color: white;
  font-size: 35px;
  list-style: none;
  padding: 0 20px;
}

.lan-text {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 18px;
  list-style: none;
  font-weight: 100;
  padding: 10px 0;
}
