* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.desk-navlinks {
  display: grid;
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #3e3c3c;
  list-style: none;
  padding: 2rem 1rem;
  grid-template-columns: auto;
  grid-template-rows: 25px 40px 5px 40px 5px 40px 5px;
}

.desktop-menu {
  display: none;
}

.menu-items {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  padding-left: 15px;
  font-weight: 700;
  text-align: center;
}

.line-menu {
  display: flex;
  border-bottom: 1px solid #6f6c6b;
  width: 100%;
  align-self: center;
}

.menu-icon {
  cursor: pointer;
}

.open-menu {
  transform: translateY(0);
  transition: transform 0.2s;
}

.menu {
  display: flex;
  background-color: #3e3c3c;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.myname {
  font-weight: bolder;
  font-size: 15px;
  cursor: default;
}

.myname:hover {
  background-color: #fff;
  padding: 3px 1px;
  color: #3e3c3c;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.close-icon {
  display: none;
  justify-self: end;
  height: 10px;
  padding-right: 15px;
  cursor: pointer;
}

.navlinks li {
  display: inline-block;
  padding: 5px 8px;
  font-weight: bold;
  font-size: 12px;
  justify-content: center;
}

.headline {
  display: flex;
  background: #1c1a19 url(img/illustration.png) 100% 100% no-repeat;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  padding: 15px 15px;
  color: white;
}

.salute {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  height: 600px;
}

h1 {
  color: #f55800;
  line-height: 65px;
  font-size: 55px;
}

.title {
  font-size: 23px;
  font-weight: bold;
  font-family: sans-serif;
  line-height: 40px;
}

.description {
  font-size: 18px;
  line-height: 20px;
  font-family: sans-serif;
}

.social {
  display: flex;
  margin-top: 10px;
}

.social ul {
  display: flex;
  justify-content: center;
}

.social li {
  cursor: pointer;
  transition: all 0.5s ease-out;
  border-radius: 10px;
}

.w1-lan li {
  padding: 5px;
  font-family: sans-serif;
  border: 1px solid #8993a4;
  border-radius: 2px;
  margin-bottom: 10px;
}

.project-lan li {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-family: sans-serif;
  padding: 10px 10px;
  margin-bottom: 20px;
}

.social-footer li {
  margin: 0 0.5rem;
  transition: all 0.5s ease-out;
  border-radius: 10px;
}

.social ul li {
  padding: 5px 5px;
  margin-right: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li:hover {
  transform: scale(1.2);
  background-color: #3e3c3c;
}

.social-footer li:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.works {
  display: grid;
  align-content: center;
}

.w1 {
  display: flex;
  flex-direction: column;
  padding: 0 23px;
  margin: 5rem 0;
}

.recent-works {
  height: auto;
  margin-bottom: 10px;
}

.works-title {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 700;
  color: #1c1a19;
  margin-bottom: 30px;
  text-align: center;
}

.line-works {
  display: flex;
  border-bottom: 1px solid #212121;
  width: 100%;
  align-self: center;
}

.w1-img {
  width: 100%;
  margin-top: 3.5rem;
}

.w1-title {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.w1-text {
  font-size: 15px;
  font-family: sans-serif;
  line-height: 20px;
  margin-bottom: 10px;
}

.w1-lan {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: start;
  align-content: center;
  grid-gap: 10px;
}

.w1-see {
  width: fit-content;
  padding: 8px 8px;
  background-color: #f55800;
  color: white;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 25px;
  border: none;
  transition: all 0.5s ease-out;
}

.w1-see:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
  transform: scale(1.2);
}

.w1-see:active {
  background-color: #e05304;
}

.w2 {
  display: flex;
  flex-direction: column;
  padding: 0 23px;
}

.w2-project {
  height: 386px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 10px;
}

.w2-img1 {
  background-image: url(img/workbackground1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.w2-img2 {
  background-image: url(img/workbackground2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.w2-img3 {
  background-image: url(img/workbackground3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.project-title {
  color: white;
  font-size: 45px;
  line-height: 40px;
  padding: 0 20px;
}

.project-text {
  color: white;
  font-size: 20px;
  font-weight: lighter;
  line-height: 25px;
  padding: 10px 20px;
}

.project-lan {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: start;
  align-content: center;
  grid-gap: 10px;
  list-style: none;
  padding: 0 20px;
}

.project-see {
  padding: 12px;
  background-color: #ff6b00;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
}

.project-see:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.project-see:active {
  background-color: #e05304;
  color: white;
}

.about-me {
  background-color: #1c1a19;
}

.about {
  display: flex;
  background: #1c1a19 url(img/about-img.png) 100% 100% no-repeat;
  flex-direction: column;
  justify-content: center;
  padding: 0 23px;
  height: 600px;
}

.about-title {
  color: #ff6b00;
  font-size: 65px;
  padding-bottom: 10px;
}

.about-text {
  color: white;
  font-size: 18px;
  font-weight: lighter;
  line-height: 25px;
  padding: 10px 0;
  margin-bottom: 1rem;
}

.line-about {
  border-bottom: 1px solid #fff;
  width: 100%;
  align-self: center;
}

.programming {
  display: flex;
  flex-direction: column;
  padding: 0 23px;
  height: 800px;
  justify-content: center;
}

.lan-group {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  list-style: none;
}

.lan-title {
  display: flex;
  color: white;
  font-size: 35px;
  list-style: none;
  padding: 0 20px;
}

.lan-text {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 18px;
  list-style: none;
  font-weight: 100;
  padding: 10px 0;
}

form {
  width: 95%;
  margin: 0 auto;
}

.contact {
  height: auto;
}

.text-contact {
  text-align: center;
  font-size: 2rem;
  padding: 4rem 1rem 2rem 1rem;
  color: #172b4d;
  font-weight: 600;
}

.contact-me {
  width: 95%;
  margin: 0 auto;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main,
.text-area {
  display: block;
  width: 327px;
  border: none;
  border-bottom: 0.1rem solid #dbd8d7;
  padding: 0.5rem;
  margin-bottom: 1.2rem;
  font-family: sans-serif;
  font-size: 1rem;
  transition: all 0.5s ease-out;
}

.text-area {
  background-color: #fbf8f7;
}

.main:hover,
.text-area:hover {
  transform: translate(1rem, 0);
}

.submit-button {
  display: flex;
  justify-content: center;
}

.submit {
  display: block;
  width: 130px;
  height: 48px;
  padding: 8px 8px;
  text-align: center;
  background-color: #f55800;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 6rem;
  border: none;
  transition: all 0.5s ease-out;
}

.submit:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
  transform: scale(1.2);
}

.submit:active {
  background-color: #e05304;
}

footer {
  display: flex;
  flex-direction: column;
}

.line-footer {
  display: flex;
  border-bottom: 1px solid #dfe1e6;
  width: 100%;
  align-self: center;
}

.social-footer ul {
  margin: 1rem 0;
  display: flex;
  list-style: none;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .headline {
    background: #1c1a19 url(img/illustration-desk.png) 100% 50% no-repeat;
    height: 800px;
  }

  .desk-navlinks {
    display: none;
  }

  .desktop-menu {
    display: flex;
    list-style: none;
    align-items: center;
  }

  .desktop-menu li {
    margin-right: 1rem;
  }

  .menu-items {
    font-size: 1rem;
    text-align: center;
    padding: 0;
  }

  .desk-sections {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .desk-sections:hover {
    border-bottom: 2px solid #f55800;
  }

  .mail-icon {
    display: block;
  }

  .navlinks {
    display: none;
  }

  .salute {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
  }

  .introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: auto;
    order: 2;
    margin-left: 3rem;
  }

  h1 {
    font-size: 85px;
    line-height: 85px;
  }

  .title {
    margin-top: 1rem;
    font-size: 35px;
    line-height: 40px;
  }

  .description {
    font-size: 20px;
    line-height: 1.5rem;
  }

  .social ul {
    display: flex;
    flex-direction: column;
  }

  .social ul li {
    padding: 8px 10px;
  }

  .extra-space {
    width: 85%;
    order: 3;
  }

  .works {
    height: auto;
    margin: 0 auto;
  }

  .w1 {
    margin: 6rem 3rem 1rem 3rem;
    padding: 0;
  }

  .recent-works {
    display: flex;
    justify-content: center;
  }

  .works-title {
    font-size: 26px;
    margin-bottom: 0;
  }

  .line-works {
    border-bottom: 1px solid #212121;
    width: 60%;
    align-self: center;
    margin-left: 1rem;
  }

  .works-intro {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: auto;
    margin-top: 3rem;
  }

  .w1-img {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .works-intro-text {
    margin: 0 1rem;
  }

  .w1-title {
    margin-top: 0;
  }

  .w1-text {
    margin-top: 1rem;
  }

  .w1-lan {
    margin: 1rem 0;
  }

  .w2-project {
    background-size: cover;
  }

  .projects-container {
    display: grid;
    grid-template: auto auto / auto auto auto;
    margin: 0 3rem 5rem 3rem;
    grid-column-gap: 1rem;
    grid-row-gap: 1.5rem;
  }

  .w2 {
    padding: 0;
    flex-direction: row;
  }

  .project-group {
    margin-top: 10rem;
  }

  .project-see {
    display: none;
  }

  .about {
    background: #1c1a19 url(img/about-img-desktop.png) 100% 50% no-repeat;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 3rem;
  }

  .about-text {
    margin-bottom: 1rem;
    font-size: 22px;
  }

  .programming {
    height: auto;
  }

  .line-about {
    width: 90%;
  }

  .program-container {
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;
  }

  .program-group {
    margin: 2rem 2rem;
  }

  .lan-group {
    padding: 0;
    margin-bottom: 1rem;
    font-weight: lighter;
  }

  .lan-text {
    justify-content: flex-start;
    font-size: 20px;
  }

  .contact {
    display: flex;
    justify-content: center;
    margin: 4rem 4rem 5rem;
  }

  .text-contact {
    padding: 0;
    width: 50%;
    text-align: left;
    font-size: 2rem;
  }

  .br-contact {
    display: none;
  }

  form {
    margin-left: 1.5rem;
  }

  .contact-me {
    width: 100%;
    margin: 0 0;
  }

  .main,
  .text-area {
    width: 100%;
  }

  .submit-button {
    justify-content: flex-start;
  }
}
